.solver {
  /* background-color: blue; */
  width: 100%;
  margin-top: 20vh;
  display: flex;
  flex-direction: row;
}

.solver-left, .solver-right {
  flex-grow: 1;
}

.solver-middle {
  width: 1rem;
  /* background-color: black; */
}

.solver-left {
  /* background-color: green; */
}

.solver-right {
  /* background-color: yellow; */
}

.input, .step-initial {
  /* background-color: red; */
  height: 5rem;
}

.description, .step-next {
  /* background-color: orange; */
  height: 4rem;
  margin-top: 1rem;
}
